In [1]:
import pandas as pd

In [2]:
filepath = "Resources/election_data.csv"
df = pd.read_csv(filepath)
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
len(df)

3521001

In [4]:
df.Candidate.unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [6]:
df.groupby("Candidate")["Voter ID"].count()

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Name: Voter ID, dtype: int64

In [7]:
100 * (df.groupby("Candidate")["Voter ID"].count() / len(df))

Candidate
Correy      19.999994
Khan        63.000011
Li          13.999996
O'Tooley     2.999999
Name: Voter ID, dtype: float64

In [8]:
df.groupby("Candidate")["Voter ID"].count().max()

2218231