In [99]:
import pandas as pd
filepath = "budget_data.csv"
df = pd.read_csv(filepath)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [103]:
count_row = df.shape[0]
numOfMonths = count_row
numOfMonths

86

In [108]:
netTotal = df['Profit/Losses'].sum()
netTotal

38382578

In [109]:
avgChange = netTotal / numOfMonths
avgChange

446309.0465116279

In [117]:
greatestIncrease = df['Profit/Losses'].max()
greatestIncrease
greatestIncreaseDate = df.loc[df['Profit/Losses'] == greatestIncrease, ['Date']]
greatestIncreaseDate

        Date
25  Feb-2012

In [118]:
greatestDecrease = df['Profit/Losses'].min()
greatestDecrease
greatestDecreaseDate = df.loc[df['Profit/Losses'] == greatestDecrease, ['Date']]
greatestDecreaseDate

        Date
44  Sep-2013

In [123]:
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {numOfMonths}")
print(f"Total: $ {netTotal}")
print(f"Average Change: ${avgChange}")
print(f"Greatest Increase in Profits: {greatestIncreaseDate} (${greatestIncrease})")
print(f"Greatest Decrease in Profits: {greatestDecreaseDate} (${greatestDecrease})")

Financial Analysis
----------------------------
Total Months: 86
Total: $ 38382578
Average Change: $446309.0465116279
Greatest Increase in Profits:         Date
25  Feb-2012 ($1170593)
Greatest Decrease in Profits:         Date
44  Sep-2013 ($-1196225)

In [101]:
# * Your task is to create a Python script that analyzes the records to calculate each of the following:

#   * The total number of months included in the dataset

#   * The net total amount of "Profit/Losses" over the entire period

#   * The average of the changes in "Profit/Losses" over the entire period

#   * The greatest increase in profits (date and amount) over the entire period

#   * The greatest decrease in losses (date and amount) over the entire period

# * As an example, your analysis should look similar to the one below:

#   ```text
#   Financial Analysis
#   ----------------------------
#   Total Months: 86
#   Total: $38382578
#   Average  Change: $-2315.12
#   Greatest Increase in Profits: Feb-2012 ($1926159)
#   Greatest Decrease in Profits: Sep-2013 ($-2196167)
#   ```

# * In addition, your final script should both print the analysis to the terminal and export a text file with the results.